<hr>

<footer>

<div class="footer">
  <div class="footer-links">
    {% if site.instagram_username %}
    <a href="https://www.instagram.com/new_gen_berlin" class="no-style" target="_blank"><i class="fab fa-instagram f-link"></i></a>
    {% endif %}
    {% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}" class="no-style"><i class="fab fa-facebook f-link"></i></a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://www.twitter.com/{{ site.twitter_username }}" class="no-style"><i class="fab fa-twitter f-link"></i></a>
    {% endif %}
    <a href="weixin://" class="no-style" target="_blank"><i class="fab fa-weixin f-link">WeChat</i></a>
  </div>
</div>
<!-- Footer -->

</footer>
